        .contact {
            display: flex;
            justify-content: flex-start;
        }
        
        .con1 {
            padding: 10px;
        }
        
        .pyth {
            display: flex;
            justify-content: flex-start;
        }
        
        .row {
            padding-top: 20px;
        }
        
        .atme {
            justify-content: right;
            justify-content: top;
        }
        
        .con2 {
            padding: 10px 0px;
        }
        
        table.tab {
            display: inline-flex;
            justify-content: start;
        }
        
        .mutha {
            width: 400px;
            border: 2px solid black;
        }
        
        button {
            box-shadow: 8px 5px 5px black;
        }